<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    {% block scripts %}

    {% endblock scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-slate-700 text-white w-screen items-center flex flex-col">
    <div class="root break-all">
        {{rendered|safe}}
    </div>
</body>
</html>